<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pf</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v6.5.1/css/all.css">
        
        <link rel="icon" type="image/png" href="{% static "portfolio/icons/pf.png" %}">
        <link rel="stylesheet" href="{% static "portfolio/style/css/style.css" %}">
    </head>
    <body>
      <header class="header">
        <div>
          
        </div>
        <nav class="navbar ">
          <ul class="navbar__list">
            <li class="navbar__list-item">
              <a class="navbar__list-link"  href="{% url "home" %}">Главная</a>
            </li>
            <li class="navbar__list-item" >
              <a class="navbar__list-link" href="{% url "blog:all_blogs" %}">Блог</a>
            </li>
            
            <li class="navbar__list-item">
                <a class="navbar__list-link" href="{% static "portfolio/Вавилов Александр.pdf" %}">Резюме </a>
            </li>
          </ul>
        </nav>
      </header>
      
      {% block content %}
      {% endblock  %}

        <footer class="footer">
          <div class="footer__social">
            <a class="footer__social-link" href="https://t.me/nakorvalole" >
              <i class="fa-brands fa-telegram footer__social-icon"></i>
            </a>
            <a class="footer__social-link" href="https://github.com/NaKorvaLoLe">
              <i class="fa-brands fa-github footer__social-icon"></i>
            </a>
            {% comment %} <a href="">linkedin</a> {% endcomment %}
          </div>
        </footer>
        <script src="{% static "portfolio/src/script.js" %}"></script>
      </body>
</html>


