{% extends "portfolio/base.html" %}

{% block content %}
    {% load static %}
    <section  class="preview">
        <div class="preview__wrapper container">
            <img class="preview__img" src="{% static "portfolio/img/my_photo.jpg" %}">
            <h1 class="preview__title">Привет, я Александр</h1>
            <p class="preview__subtitle">Я создаю красивые сайты, которые понравятся вашим пользователям.</p>
            <p class="preview__subtitle">
                Как я создаю, учусь, исследую и думаю о том, как сделать вещи лучше вы можете прочитать в моем  
                <a class="preview__subtitle-link" href="{% url "blog:all_blogs" %}"><i class="fa-solid fa-bounce">блоге</i></a>.
            </p>
        </div>
    </section>
    <div class="container">
        <section class="stack">
            <h3 class="stack__title">В своих работах я использую </h3>
            <ul class="stack__list">
                {% for stack in stacks %}
                <li class="stack__list-item">
                    <img src="{{ stack.image.url }}" class="stack__list-item__img">
                    <span class="stack__list-item__text">{{ stack.title }}</span>
                </li>
                {% endfor %}
            </ul>
        </section>
        <section class="projects">
            <h3 class="projects__title">Мои проекты</h3>
            <ul class="projects__tabs">
                <li class="projects__tab active" data-id="1">
                    Верстка
                    <img src="{% static "portfolio/icons/html.svg" %}" class="projects__tab-img">
                </li>
                <li class="projects__tab" data-id="2">
                    React | JS | TS
                    <img src="{% static "portfolio/icons/react.svg" %}" class="projects__tab-img">
                </li>
                <li class="projects__tab" data-id="3">
                    Python | Django
                    <img src="{% static "portfolio/icons/django.svg" %}" class="projects__tab-img">
                </li>
            </ul>
                    
            
            <div class="projects__content active">
                {% for project in projects_html %}
                    <div class="projects__content-card">
                        <img src="{{project.image.url}}" class="projects__content-img" alt="Изображение проекта" >
                        <div class="projects__content-wrapper">
                            <div class="projects__content-description">
                                <h5 class="projects__content-title">{{ project.title }}</h5>
                                <p class="projects__content-text">{{ project.description }}</p>
                            </div>
                            <div class="projects__content-links">
                                {% if project.url_repos %}
                                    <a href="{{ project.url_repos }}" class="projects__content-link">GitHub</a>
                                {% endif %}
                                {% if project.url_site %}
                                    <a href="{{ project.url_site }}" class="projects__content-link">Перейти на сайт</a>
                                {% endif %}
                            </div>    
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="projects__content">
                {% for project in projects_react %}
                    <div class="projects__content-card">
                        <img src="{{project.image.url}}" class="projects__content-img" alt="Изображение проекта" >
                        <div class="projects__content-wrapper">
                            <div class="projects__content-description">
                                <h5 class="projects__content-title">{{ project.title }}</h5>
                                <p class="projects__content-text">{{ project.description }}</p>
                            </div>
                            <div class="projects__content-links">
                                {% if project.url_repos %}
                                    <a href="{{ project.url_repos }}" class="projects__content-link">GitHub</a>
                                {% endif %}
                                {% if project.url_site %}
                                    <a href="{{ project.url_site }}" class="projects__content-link">Перейти на сайт</a>
                                {% endif %}
                            </div>    
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="projects__content">
                {% for project in projects_python %}
                    <div class="projects__content-card">
                        <img src="{{project.image.url}}" class="projects__content-img" alt="Изображение проекта" >
                        <div class="projects__content-wrapper">
                            <div class="projects__content-description">
                                <h5 class="projects__content-title">{{ project.title }}</h5>
                                <p class="projects__content-text">{{ project.description }}</p>
                            </div>
                            <div class="projects__content-links">
                                {% if project.url_repos %}
                                    <a href="{{ project.url_repos }}" class="projects__content-link">GitHub</a>
                                {% endif %}
                                {% if project.url_site %}
                                    <a href="{{ project.url_site }}" class="projects__content-link">Перейти на сайт</a>
                                {% endif %}
                            </div>    
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock  %}