{% extends "portfolio/base.html" %}

{% block content %}
    {% load static %}
    <section  class="bg-black">
        <div class="container p-5">
            <img class="d-block m-0 m-auto object-fit-contain rounded-circle" src="{% static "portfolio/my_photo.jpg" %}" alt="my photo" style="width:15rem;">
            <h1 class="text-center mt-4">Привет, я Александр</h1>
            <p class="text-center">Я создаю красивые сайты, которые понравятся вашим пользователям</p>
            <p class="text-center pt-3">
                Как я создаю, учусь, исследую и думаю о том, как сделать вещи лучше вы можете прочитать в моем  
                <a class="link-primary" href="{% url "blog:all_blogs" %}">блоге</a>
            </p>
        </div>
    </section>
    <div class="container mt-5">
        <section class="mt-5">
            <h3 class="text-center">В своих работах я использую </h3>
            <div class="row m-auto g-5">
                {% for stack in stacks %}
                    <div class="col-2 col-md-2">
                        <img src="{{ stack.image.url }}" class="stack-image">
                        <p class="text-center pt-1">{{ stack.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="mt-5">
            <div class="container mt-5">
                <h3 class="text-center">Мои проекты</h3>
                <div class="row mt-0">
                    <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item m-3" role="presentation">
                            <button class="nav-link active pt-0 pb-0" id="pills-html-tab" data-bs-toggle="pill" data-bs-target="#pills-html" type="button" role="tab" aria-controls="pills-html" aria-selected="true">
                                Верстка <img src="{% static "portfolio/icons/html.svg" %}" style="width: 2rem;">
                            </button>
                        </li>
                        <li class="nav-item m-3" role="presentation">
                            <button class="nav-link pt-0 pb-0" id="pills-react-tab" data-bs-toggle="pill" data-bs-target="#pills-react" type="button" role="tab" aria-controls="pills-react" aria-selected="false">
                                React | JS | TS <img src="{% static "portfolio/icons/react.svg" %}" style="width: 2rem;" >
                            </button>
                        </li> 
                        <li class="nav-item m-3" role="presentation">
                            <button class="nav-link pt-0 pb-0" id="pills-python-tab" data-bs-toggle="pill" data-bs-target="#pills-python" type="button" role="tab" aria-controls="pills-python" aria-selected="false">
                                Python | Django <img src="{% static "portfolio/icons/django.svg" %}" style="width: 2rem;" >
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-html" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                            <div class="row">
                                {% for project in projects_html %}
                                    <div class="card col-6 col-md-3 bg-dark p-0 m-auto mb-5" style="width: 18rem; height: 28rem; ">
                                        <img src="{{project.image.url}}" class="card-img-top " alt="Изображение проекта" >
                                        <div class="card-body position-relative">
                                            <h5 class="card-title text-light">{{ project.title }}</h5>
                                            <p class="card-text text-light">{{ project.description }}</p>
                                            <div class="d-flex justify-content-around position-absolute bottom-0">
                                                {% if project.url_repos %}
                                                    <a href="{{ project.url_repos }}" class="btn btn-primary p-1 m-1 mb-3">GitHub</a>
                                                {% endif %}
                                                {% if project.url_site %}
                                                    <a href="{{ project.url_site }}" class="btn btn-primary p-1 m-1 mb-3">Перейти на сайт</a>
                                                {% endif %}
                                            </div>    
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-react" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                            <div class="row">
                                {% for project in projects_react %}
                                    <div class="card col-6 col-md-3 bg-dark p-0 m-auto mb-5" style="width: 18rem; height: 28rem; ">
                                        <img src="{{project.image.url}}" class="card-img-top " alt="Изображение проекта" >
                                        <div class="card-body position-relative">
                                            <h5 class="card-title text-light">{{ project.title }}</h5>
                                            <p class="card-text text-light">{{ project.description }}</p>
                                            <div class="d-flex justify-content-around position-absolute bottom-0">
                                                {% if project.url_repos %}
                                                    <a href="{{ project.url_repos }}" class="btn btn-primary p-1 m-1 mb-3">GitHub</a>
                                                {% endif %}
                                                {% if project.url_site %}
                                                    <a href="{{ project.url_site }}" class="btn btn-primary p-1 m-1 mb-3">Посмотреть полностью</a>
                                                {% endif %}
                                            </div>    
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-python" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                            <div class="row">
                                {% for project in projects_python %}
                                    <div class="card col-6 col-md-3 bg-dark p-0 m-auto mb-5" style="width: 18rem; height: 28rem; ">
                                        <img src="{{project.image.url}}" class="card-img-top " alt="Изображение проекта" >
                                        <div class="card-body position-relative">
                                            <h5 class="card-title text-light">{{ project.title }}</h5>
                                            <p class="card-text text-light">{{ project.description }}</p>
                                            <div class="d-flex justify-content-around position-absolute bottom-0">
                                                {% if project.url_repos %}
                                                    <a href="{{ project.url_repos }}" class="btn btn-primary p-1 m-1 mb-3">GitHub</a>
                                                {% endif %}
                                                {% if project.url_site %}
                                                    <a href="{{ project.url_site }}" class="btn btn-primary p-1 m-1 mb-3">Посмотреть полностью</a>
                                                {% endif %}
                                            </div>    
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock  %}