.detail{
    grid-template-columns: repeat(auto-fill, minmax(1200, 1fr));
    &__link{
        padding: 0 20px;
        color: $third-color;
        transition: .7s;
        &:hover{
            color: $secont-color;
        }
    }
    &__title{
        margin-top: 4rem;
    }
    &__card{
        padding: 0 20px;
        &-img{
            margin-top: 2rem;
            border-radius: 10px;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
        &-text{
            margin-top: 2rem;
            letter-spacing: normal;
        }
        &-date{
            margin-top: 4rem;
            display: flex;
            justify-content: end;
            color: $third-color;
        }
    }
}