@import 'base/variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px;
}

html{
    font-size: 10px;
}

body{
    background-color: #000;
    font-family: "Nunito Sans", sans-serif;
    color: $main-color;
    font-size: 1.8rem;
    line-height: 1.5;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}


// main_page

@import "blocks/main_page/header";
@import "blocks/main_page/preview";
@import "blocks/main_page/stack";
@import "blocks/main_page/projects";
@import "blocks/main_page/footer";

// blog
@import "blocks/blog/blog";
@import "blocks/blog/detail";