.header{
    background-color: #000;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

.navbar{
    &__list{
        list-style-type: none;
        margin-top: 1rem;
        &-item{
            display: inline;
            margin-right: 2rem;
            
        }      
        &-link{
            padding: 0.5rem;
            text-decoration: none;
            color: $third-color;
            transition: .7s;
            &:hover{
                border-radius: 2rem;
                color: $second-color;
                box-shadow: 0 0 20px $second-color;
                text-shadow: 0 0 20px $second-color;
            }
        }
    }
}