{% extends "portfolio/base.html" %} {% block content %}
<section class="detail container">
  <a class="detail__link"  href="{% url "blog:all_blogs" %}">
    <i class="detail__link fa-solid fa-chevron-left"></i> вернуться назад
  </a>
  <div class="detail__card">
    <h3 class="detail__title">{{ blog.title }}</h3>
    <img
      class="detail__card-img"
      src="{{ blog.image.url }}"
      alt="Главное ихображение"
    />
    <p class="detail__card-text">{{ blog.description|safe }}</p>
    <date class="detail__card-date">
      <small class="detail__card-smale">
        Последнее обновление
        <date>{{ blog.date.date }} в {{ blog.date.time }} </date>
      </small>
    </date>
  </div>
</section>
{% endblock %}
