{% extends "portfolio/base.html" %}

{% block content %}
<section class="container bg-dark">
    <div class="card mb-3">
        <img src="{{ blog.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{ blog.title }}</h3>
          <p class="card-text">{{ blog.description|safe }}</p>
          <p class="card-text"><small class="text-body-secondary">Последнее обновление  <date>{{ blog.date.date }} в {{ blog.date.time }} </date></small></p>
        </div>
      </div>
</section>
{% endblock  %}