* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #000;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.5;
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #000;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.navbar__list {
  list-style-type: none;
  margin-top: 1rem;
}
.navbar__list-item {
  display: inline;
  margin-right: 2rem;
}
.navbar__list-link {
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: #666;
  transition: 0.7s;
}
.navbar__list-link:hover {
  border-radius: 2rem;
  color: #ffee10;
  box-shadow: 0 0 20px #ffee10;
  text-shadow: 0 0 20px #ffee10;
}

.preview__img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
}
.preview__title {
  margin: 4rem 0;
  text-align: center;
}
.preview__subtitle {
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.preview__subtitle-link {
  position: relative;
  text-decoration: none;
  color: #ffee10;
}
.preview__subtitle-link .fa-solid {
  font-family: serif;
}
.preview__subtitle-link:after {
  position: absolute;
  content: "";
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: #ffee10;
  transition: 0.4s;
  left: 50%;
  transform: translate(-50%);
}
.preview__subtitle-link:hover:after {
  width: 100%;
}

.stack {
  margin-top: 10rem;
}
.stack__title {
  text-align: center;
  font-weight: 700;
}
.stack__list {
  margin: 0 auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
  gap: 20px;
  justify-content: center;
}
.stack__list-item {
  padding: 2rem;
}
.stack__list-item__text {
  display: block;
  text-align: center;
  font-weight: 700;
}

.projects {
  margin-top: 10rem;
}
.projects__title {
  text-align: center;
}
.projects__tabs {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.projects__tab {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 2rem;
  border: 1px solid #666;
  border-radius: 2rem;
  justify-content: space-between;
  padding: 0.5rem;
  color: #666;
  transition: 0.7s;
}
.projects__tab:hover {
  border: 1px solid #ffee10;
  color: #ffee10;
  box-shadow: 0 0 20px #ffee10;
  text-shadow: 0 0 20px #ffee10;
}
.projects__tab.active {
  border: 1px solid #ffee10;
  color: #ffee10;
}
.projects__tab-img {
  width: 4rem;
  text-align: center;
}
.projects__tab-text {
  margin: 1rem;
}
.projects__content {
  margin-top: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  justify-content: center;
  display: none;
}
.projects__content.active {
  display: grid;
}
.projects__content-card {
  box-shadow: 0 0 5px #666;
  border-radius: 10px;
}
.projects__content-img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-radius: 10px;
}
.projects__content-wrapper {
  padding: 20px;
}
.projects__content-description {
  height: 250px;
}
.projects__content-title {
  font-size: 1.8rem;
  font-weight: 700;
}
.projects__content-text {
  margin-top: 2rem;
  font-size: 1.6rem;
}
.projects__content-links {
  display: flex;
  justify-content: space-between;
}
.projects__content-link {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  border: 1px solid #666;
  border-radius: 2rem;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #666;
  transition: 0.7s;
}
.projects__content-link:hover {
  border: 1px solid #ffee10;
  color: #ffee10;
  box-shadow: 0 0 20px #ffee10;
  text-shadow: 0 0 20px #ffee10;
}

@media (max-width: 544) {
  .projects__tab {
    display: block;
  }
}
.footer {
  margin-top: 10rem;
  padding-top: 2rem;
  border-top: 1px solid #666;
  background-color: #000;
  height: 10rem;
}
.footer__social {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.footer__social-link {
  margin: 0 1rem;
  font-size: 4rem;
  text-decoration: none;
  color: #666;
  transition: 0.7s;
}
.footer__social-link:hover {
  color: #ffee10;
  text-shadow: 0 0 10px #ffee10;
}
.footer__social-icon {
  height: 40px;
}

.blog__title {
  margin: 4rem 0;
  text-align: center;
}
.blog__subtitle {
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.blog__content-title {
  margin-top: 4rem;
  padding: 0 2rem;
  color: #666;
  font-size: 1.8rem;
  border-bottom: 1px solid #666;
}
.blog__content-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 2rem;
}
.blog__card {
  padding: 2rem;
  border-bottom: 1px solid #666;
  transition: 1s;
}
.blog__card:hover {
  box-shadow: 0 10px 0 0 #ffee10;
}
.blog__card-link {
  text-decoration: none;
  color: #666;
}
.blog__card-title {
  font-size: 2.2rem;
}
.blog__card-subtitle {
  margin-top: 2rem;
  font-size: 1.6rem;
}
.blog__card-img {
  margin: 2rem 0;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-radius: 10px;
}
.blog__card-date {
  display: flex;
  justify-content: end;
  color: #666;
  font-size: 1.4rem;
}

@media (max-width: 992px) {
  .blog__content-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
.detail {
  grid-template-columns: repeat(auto-fill, minmax(1200, 1fr));
}
.detail__link {
  padding: 0 20px;
  color: #666;
  transition: 0.7s;
}
.detail__link-icon :hover {
  color: #ffee10;
}
.detail__title {
  margin-top: 4rem;
}
.detail__card {
  padding: 0 20px;
}
.detail__card-img {
  margin-top: 2rem;
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.detail__card-text {
  margin-top: 2rem;
  letter-spacing: normal;
}
.detail__card-date {
  margin-top: 4rem;
  display: flex;
  justify-content: end;
  color: #666;
}